:root {
  --text-color : #4e4245;
  --global-font-size : 1rem;
  --button-text-hover-color : black;
  --background-color : #ddb892;
  --button-normal-color : #b08968;
  --button-active-color : #75523b;
  --button-hover-color : #9c6644;
  --nav-container-color : #c9a077;
  --card-element-width : 30rem;
  --input-element-font-size : 2rem;
  --input-translucent-bg : #fafafa5c;
  --input-box-outline : rgb(111, 110, 110);
}

body,
html {
  font-family: 'Inter custom', sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
  padding: 0;
  margin: 0;
  font-weight: 600;
  font-size: var(--global-font-size);
}

* {
  box-sizing: border-box;
}


/*----------------------Global Styling------------------------------*/


.wrapper {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  padding: 0.75rem 0 15rem;
}

button {
  cursor: pointer;
  background-color: var(--nav-container-color);
  border-radius: 1rem;
  /* border-color: var(--button-active-color); */
  border: none;
  font: inherit;
  color: inherit;
}

button:hover {
  /* background-color: var(--button-hover-color); */
  color: var(--button-text-hover-color);
}

button:focus {
  background-color: var(--button-normal-color);
  color: var(--button-text-hover-color);
}

header {
  display: flex;
  justify-content: space-between;
  align-items:center;
  width: 100vw;
  padding: 0;
  margin: 0;
}

input {
  background-color: var(--input-translucent-bg);
  border-style: none;
  border-radius: 1rem;
  width: var(--card-element-width);
  height: 4rem;
  font-size: var(--input-element-font-size);
  margin: 0.5rem 0;
  padding-left: 1rem;
}

input:focus-visible {
  outline: none;
}

input:hover {
  border: 1px solid var(--input-box-outline);
}

a {
  color: var(--text-color);
  cursor: pointer;
}

a:hover {
  color: var(--button-text-hover-color);
}


/*----------------------Header Styling------------------------------*/


.kajuswap-logo {
  width: 3.90rem;
  height: auto;
  padding: 0.5rem;
  background-color: var(--button-normal-color);
  border-radius: 100%;
}

.kajuswap-logo:hover {
  background-color: var(--button-hover-color);
}

.center-nav-bar {
  margin-left: 22rem;
}

.nav-item-container {
  display: flex;
  padding: 0.1rem 0;
  border-radius: 1rem;
  margin: 1px;
  background-color: var(--nav-container-color);
  align-items: center;
}

.nav-item {
  margin: 0rem 0.2rem;
  padding: 0.5rem 1rem;
  align-items: center;
}

.right-header-display {
  display: inline-flex;
  padding: 0rem 1rem;
}

.wallet-connect-button-eth-amt {
  padding: 0.5rem 1.25rem;
  width: inherit;
  background-color: var(--button-normal-color);
}

.wallet-connect-button-eth-amt:hover {
  outline: none;
  border: 1px solid var(--button-active-color);
}

.wallet-info {
  padding: 0rem 1.5rem;
}

.side-dropdown {
  position: relative;
  align-items: center;
  border-radius: 0.75rem;
  width: 2.5rem;
  margin: 0rem 0.2rem;
}

.side-dropdown-content {
  width: max-content;
  margin-top: 1rem;
  padding: 0 0.5rem;
  display: none;
  position: absolute;
  border-radius: 1.2rem;
  background-color: var(--input-translucent-bg);
  box-shadow: 0 0.5rem 0.75rem 0 rgba(0, 0, 0, 0.2);
  z-index: 1;
  right: 0;

}

.side-dropdown:hover, .side-dropdown:active {
  border: 1px solid var(--button-active-color);
}

.side-dropdown-content a {
  text-decoration: none;
  display: block;
  padding: 0.5rem 1rem;
}



/*----------------------Swap Page Styling------------------------------*/


.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 1.2rem;
  padding: 0.5rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  margin: 2rem auto;
}

.form-header {
  display: flex;
  justify-content: space-between;
  padding: 0.25rem 0.75 rem 0.5rem;
  margin: 0.5rem 0.25rem;
  width: -webkit-fill-available
}

.swap-button {
  width: var(--card-element-width);
  height: 3.25rem;
  margin: 0.25rem 0;
}


/*----------------------Pools Page Styling------------------------------*/


.pools-page-container {
  display: flex;
  flex-direction: column;
  width: max-content;

}

.pools-page-header {
  display: inherit;
  align-items: center ;
  justify-content: space-between;
}

.pools-page-card {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  display: inherit;
  border-radius: 1.2rem;
  padding: 0.5rem;
  box-shadow: 0.5rem rgba(0, 0, 0, 0.26);
  height: auto;
  background-color: var(--input-translucent-bg);
  width: -webkit-fill-available;
}

.pool-page-card-footers button,
.pools-page-header button,
.pools-page-card button {
  margin: 1rem 0.2rem;
  padding: 0.5rem 0.5rem;
  
}

/*
li {
  margin: 1rem 0;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: 12px;
  padding: 1rem;
}

li h3 {
  margin: 0.5rem 0;
  font-size: 1.25rem;
}
*/