:root {
  --text-color: #4e4245;
  --global-font-size: 1rem;
  --button-text-hover-color: black;
  --background-color: #ddb892;
  --button-normal-color: #b08968;
  --button-active-color: #75523b;
  --button-inactive-color: #7a7068;
  --button-hover-color: rgb(156, 102, 68);
  --nav-container-color: #c9a077;
  --card-element-width: 30rem;
  --input-element-font-size: 2rem;
  --input-translucent-bg: #fafafa5c;
  --input-box-outline: rgb(111, 110, 110);
  --blur-bg: rgba(201, 160, 119, 0.4);
}

@media screen and (min-width: 600px) and (max-width: 970px) {
  :root {
    --card-element-width: 25rem;
    --global-font-size: 1rem;
    --input-element-font-size: 2rem;
  }
}

@media screen and (max-width: 600px) {
  :root {
    --card-element-width: 20rem;
    --global-font-size: 0.9rem;
    --input-element-font-size: 1.8rem;
  }
}
/* @media screen and (max-width: 700px) {
  .wrapper {
    height: 100vh;
  }
  @media screen and (orientation: landscape) {
    .wrapper {
      height: auto;
    }
  }
}
@media screen and (min-width: 700px) {
  .wrapper {
    align-items: center;
    height: 100vh;
  }
} */

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: var(--input-translucent-bg);
  border-radius: 2rem;
}
::-webkit-scrollbar-thumb {
  background: var(--text-color);
  border-radius: 1rem;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--button-active-color);
}

body,
html {
  -webkit-font-smoothing: antialiased;
  font-family: "Inter custom", sans-serif;
  background: radial-gradient(
    circle,
    rgba(255, 219, 182, 1) 0%,
    rgba(110, 77, 56, 1) 100%
  );
  color: var(--text-color);
  padding: 0;
  margin: 0;
  font-weight: 600;
  font-size: var(--global-font-size);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

* {
  box-sizing: border-box;
}

/*----------------------Global Styling------------------------------*/
.wrapper {
  align-items: center;
  height: auto;
}

button {
  cursor: pointer;
  background-color: var(--nav-container-color);
  border-radius: 1rem;
  padding: 0.5rem 0.75rem;
  /* border-color: var(--button-active-color); */
  border: none;
  font: inherit;
  color: inherit;
}

button:hover {
  /* background-color: var(--button-hover-color); */
  color: var(--button-text-hover-color);
}

button:focus {
  background-color: var(--button-normal-color);
  color: var(--button-text-hover-color);
}

.swal-button {
  background-color: var(--nav-container-color);
}
.swal-button:hover {
  color: var(--button-text-hover-color);
}
.swal-button:focus {
  background-color: var(--button-normal-color);
  color: var(--button-text-hover-color);
}
.swal-button:not([disabled]):hover {
  background-color: var(--button-normal-color);
  color: var(--button-text-hover-color);
}

a.router-link-active {
  background-color: var(--button-active-color);
  color: var(--button-text-hover-color);
  border-radius: 50%;
}

.button-disabled {
  background-color: var(--button-inactive-color);
  color: var(--text-color);
}

header {
  position: fixed;
  background: var(--blur-bg);
  backdrop-filter: blur(0.8rem);
  border-radius: 0 0 1rem 1rem;
  display: flex;
  z-index: 2;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  padding: 0.5rem 0;
  margin-top: -6rem;
}

input {
  background-color: var(--input-translucent-bg);
  border-style: none;
  border-radius: 1rem;
  width: calc(var(--card-element-width) - 5rem);
  height: 4rem;
  font-size: var(--input-element-font-size);
  margin: 0.5rem 0.25rem;
  padding-left: 1rem;
}

input:focus-visible {
  outline: none;
}

input:hover {
  border: 1px solid var(--input-box-outline);
}

a {
  color: var(--text-color);
  cursor: pointer;
}

a:hover {
  color: var(--button-text-hover-color);
}

dialog {
  position: fixed;
  top: 2rem;
  background-color: var(--background-color);
  z-index: 10;
  border-radius: 0.5rem;
  width: calc(var(--card-element-width) + 1rem);
  height: 55vh;
  overflow-y: auto;
  padding: 1rem;
}

ul {
  padding-inline-start: 1rem;
  cursor: pointer;
  padding: 0.5rem 1rem;
}

.dialog-top {
  position: inherit;
  border-radius: 0.5rem 0.5rem 0 0;
  background: var(--blur-bg);
  backdrop-filter: blur(0.8rem);
  /* position: fixed; */
  padding: inherit;
  margin-top: -1rem;
  margin-left: -1rem;
  width: calc(var(--card-element-width) + 0.8rem);
}

.dialog-token {
  margin-top: 9rem;
  /* overflow: scroll;
  height: -webkit-fill-available; */
}

/*----------------------Header Styling------------------------------*/

.kajuswap-logo {
  width: 3.9rem;
  height: auto;
  padding: 0.5rem;
  /* margin: 0.5rem 0.5rem; */
  background-color: var(--button-normal-color);
  border-radius: 100%;
}

.kajuswap-logo:hover {
  background-color: var(--button-hover-color);
}

/* .center-nav-bar {
  margin-left: 22rem;
} */

.nav-item-container {
  display: flex;
  padding: 0.1rem 0;
  border-radius: 1rem;
  margin: 1px;
  background-color: var(--nav-container-color);
  align-items: center;
}

.nav-item {
  margin: 0rem 0.2rem;
  padding: 0.5rem 1rem;
  align-items: center;
}

.network-dropdown {
  position: relative;
  display: flex;
}

.dropdown-content {
  position: absolute;
  top: 2.3rem;
  background-color: var(--background-color);
  min-width: fit-content;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 1rem;
}

.dropdown-content div {
  padding: 0.5rem 1.5rem;
}

.dropdown-content div:hover {
  cursor: pointer;
  background-color: var(--button-normal-color);
  border-radius: 1rem;
}

.expand-arrow {
  width: 1rem;
  padding-left: 4px;
  height: auto;
  cursor: pointer;
}

.right-header-display {
  display: inline-flex;
  padding: 0rem 1rem;
}

.wallet-connect-button-eth-amt {
  padding: 0.5rem 1.25rem;
  width: inherit;
  background-color: var(--button-normal-color);
}

.wallet-connect-button-eth-amt:hover {
  outline: none;
  border: 1px solid var(--button-active-color);
}

.wallet-info {
  padding: 0rem 0.5rem;
  max-width: 8rem;
  white-space: nowrap;
}

.side-dropdown {
  position: relative;
  align-items: center;
  border-radius: 0.75rem;
  width: 2.5rem;
  /* margin: 0rem 0.2rem; */
  padding: 0.4rem 0.4rem;
}

.side-dropdown-content {
  width: max-content;
  margin-top: 1rem;
  padding: 0 0.5rem;
  display: none;
  position: absolute;
  border-radius: 1.2rem;
  background-color: var(--input-translucent-bg);
  box-shadow: 0 0.5rem 0.75rem 0 rgba(0, 0, 0, 0.2);
  z-index: 1;
  right: 0;
}

.side-dropdown:hover,
.side-dropdown:active {
  border: 1px solid var(--button-active-color);
}

.side-dropdown-content a {
  text-decoration: none;
  display: block;
  padding: 0.5rem 1rem;
}

/*----------------------Swap Page Styling------------------------------*/

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 1.2rem;
  padding: 0.5rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  margin: 6rem auto -4rem;
  background-color: var(--background-color);
  width: var(--card-element-width);
}

.main-swap {
  align-items: center;
  flex-direction: column;
  display: inherit;
}

.form-header {
  display: flex;
  justify-content: space-between;
  padding: 0.25rem 0.75 rem 0.5rem;
  margin: 0.5rem 0.25rem;
  width: -webkit-fill-available;
}

.swap-button {
  width: calc(var(--card-element-width) - 2rem);
  height: 3.25rem;
  margin: 0.25rem 0;
}

.inp-swap {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0.25rem;
}

select {
  margin-bottom: 1rem;
  margin-top: 1rem;
  background: var(--background-color);
  color: #fff;
  border: 1px solid var(--input-box-outline);
  padding: 0.5rem;
  border-radius: 1rem;
}

/*----------------------Pools Page Styling------------------------------*/

.pools-page-container {
  margin-top: -2rem;
  display: flex;
  flex-direction: column;
  width: max-content;
  align-items: center;
}

.pools-page-header {
  display: flex;
  align-items: center;
  padding: 0 1.5rem;
  justify-content: space-between;
  justify-content: space-between;
  width: -webkit-fill-available;
}

.pools-page-card {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  display: inherit;
  border-radius: 1.2rem;
  padding: 0.5rem;
  box-shadow: 0.5rem rgba(0, 0, 0, 0.26);
  height: auto;
  background-color: var(--input-translucent-bg);
  width: -webkit-fill-available;
}

.pool-page-card-footers button,
.pools-page-header button,
.pools-page-card button {
  margin: 1rem 0.2rem;
  padding: 0.5rem 0.5rem;
}

/*----------------------Pools Page Styling------------------------------*/

.dropdown {
  position: relative;
}

.dropdown-content-pool {
  position: absolute;
  background-color: var(--background-color);
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  top: 13rem;
  right: 35rem;
  border-radius: 1rem;
}

.dropdown-content-pool div:hover {
  cursor: pointer;
  background-color: var(--button-normal-color);
  border-radius: 1rem;
}

.dropdown-content-pool input {
  height: 3rem;
  font-size: 1rem;
}
/* input[type="range"] {
  -webkit-appearance: none;
  margin: 10px 0;
  width: 100%;
  background: fixed;
  padding-right: 1rem;
}
input[type="range"]:focus {
  outline: none;
}
input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 0.4rem;
  cursor: pointer;
  background: var(--button-normal-color);
  border-radius: 1rem;
}
input[type="range"]::-webkit-slider-thumb {
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 100%;
  background: var(--button-active-color);
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -0.52rem;
}
input[type="range"]:focus::-webkit-slider-runnable-track {
  background: var(--button-hover-color);
} */
